.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login .form {
  width: 300px;
  height: 400px;
  background-color: var(--blue);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.login .form input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: var(--bg-light);
  color: var(--white);
  font-size: 1rem;
}

.login .form input::placeholder {
  color: lightgray;
}
